.article-card {
  width: 300px;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 10px;
}

.article-card img {
  width: 100%;
}

.article-card button {
  padding: 8px 15px;
  cursor: pointer;
}