body {
  background:
    linear-gradient(
      135deg,
      #0f172a,
      #111827,
      #1e1b4b
    );

  color: white;

  font-family: "Poppins", sans-serif;
}

/* MAIN CONTAINER */

.audio-container {

  min-height: 100vh;

  padding: 30px;

  background:
    rgba(255,255,255,0.05);

  backdrop-filter: blur(10px);
}

/* TITLE */

.audio-title {

  text-align: center;

  font-size: 40px;

  color: #c5badf;

  text-shadow:
    0 0 20px #8b5cf6;

  margin-bottom: 20px;
}

/* STATUS */

.status-text {

  text-align: center;

  color: #cbd5e1;

  margin: 10px 0;
}

/* USER CARD */

/* USER CARD */

.user-card {

  background:
    rgba(255,255,255,0.08);

  border:
    1px solid rgba(255,255,255,0.1);

  border-radius: 15px;

  padding: 18px 22px;

  margin: 15px auto;

  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 20px;

  width: fit-content;

  min-width: 350px;

  max-width: 500px;

  transition: 0.3s;

  backdrop-filter: blur(10px);
}

.user-card:hover {

  transform: scale(1.02);

  box-shadow:
    0 0 20px #06b6d4;
}

/* BUTTONS */

.call-btn,
.accept-btn,
.reject-btn,
.end-btn,
.record-btn,
.stop-record-btn,
.delete-record-btn {

  border: none;

  padding: 12px 20px;

  border-radius: 10px;

  color: white;

  cursor: pointer;

  font-weight: bold;

  transition: 0.3s;
}

/* CALL */

.call-btn {

  background: #06b6d4;
}

.call-btn:hover {

  box-shadow:
    0 0 20px #06b6d4;
}

/* ACCEPT */

.accept-btn {

  background: #22c55e;
}

.accept-btn:hover {

  box-shadow:
    0 0 20px #22c55e;
}

/* REJECT */

.reject-btn {

  background: #ef4444;
}

.reject-btn:hover {

  box-shadow:
    0 0 20px #ef4444;
}

/* END */

.end-btn {

  background: #dc2626;
}

.end-btn:hover {

  box-shadow:
    0 0 20px #dc2626;
}

/* RECORD */

.record-btn {

  background: #8b5cf6;
}

.record-btn:hover {

  box-shadow:
    0 0 20px #8b5cf6;
}

/* STOP */

.stop-record-btn {

  background: orange;
}

.stop-record-btn:hover {

  box-shadow:
    0 0 20px orange;
}

/* RECORDING CARD */

.recording-card {

  background:
    rgba(255,255,255,0.07);

  padding: 20px;

  border-radius: 15px;

  margin-top: 20px;

  border:
    1px solid rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);
}

/* ACTIVE CALL */

.active-call-box,
.incoming-call-box {

  background:
    rgba(255,255,255,0.08);

  padding: 20px;

  margin-top: 20px;

  border-radius: 15px;

  text-align: center;

  border:
    1px solid rgba(255,255,255,0.1);
}

/* AUDIO PLAYER */

audio {

  width: 100%;

  margin-top: 10px;
}

.cyber-bg {

  position: relative;

  overflow: hidden;
}

.cyber-bg::before {

  content: "";

  position: absolute;

  width: 500px;

  height: 500px;

  background:
    radial-gradient(
      #8b5cf6,
      transparent
    );

  top: -200px;

  right: -200px;

  opacity: 0.4;

  animation: floatGlow 6s infinite linear;
}

@keyframes floatGlow {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}